<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel Adminitracyjny Sklepu Jubilreskiego Bomar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/indexstyle.css') }}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('index.static', filename='index/index_style.css') }}"
    />
  </head>
  <body>
    <div id="top-menu">
    <a href="{{ url_for('login.login') }}">Zaloguj</a>
    </div>
    <div id="content">Witaj na panelu adminitracyjnego sklepu jubilreskiego Bomar</div>
    <div id="footer">Copyright Michał Lidwa Robert Kaleta 2024/2025</div>
  </body>
</html>
