body {
  background-color: grey;
  margin: 0;
  padding: 0;
}
#top_menu {
  background-color: green;
  width: 85%;
  height: 10vh;
  display: block;
  float: right;
}

#top_menu a {
  float: right;
  display: block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#top_menu a:hover {
  background-color: rgba(4, 186, 192, 0.1);
}

#left_menu {
  background-color: aqua;
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 30vh;
}

#left_menu a {
  float: center;
  display: block;
  text-decoration: none;
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  width: 100%;
  border: 1px;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#content {
  float: right;
  width: 85%;
  height: 100hv;
}

#p{
  text-align: center;
}